@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  background-color: #222;
  color: white;

  display: flex;

  justify-content: space-evenly;

  font-family: 'Source Code Pro', monospace;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#back {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 4px;

  margin-top: 6px;
}
