@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  background-color: #222;
  color: white;

  font-family: 'Source Code Pro', monospace;
}

canvas {
  width: 100vw;
  height: 100vh;
}

#gui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}

.buttons button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16pt;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #222;
  border-radius: 10px;
  border: 2px solid white;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  visibility: hidden;
}

#modal button {
  margin-top: 16px;

  background-color: transparent;
  border: none;
  color: white;
  font-size: 12pt;
  cursor: pointer;
}

#score {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 16pt;
}
